.container {
    width: 100%;
}

.container-sidenav {
    width: 20%;
}

.container-main {
    width: 80%;
}

.example-spacer {
    flex: 1 1 auto;
}

@media only screen and (max-width: 768px) {
    .container-sidenav,
    .container-main {
        width: 100%;
    }
}